.restaurant-page-view {
  padding-bottom: 112px;
}

.restaurant-page-view .container {
  gap: 44px;
  flex-direction: column;
}

.restaurant-page-top h1 {
  margin-right: 20px;
  font-size: 36px;
}

.restaurant-page-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.product {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
}

.product-info {
  padding: 24px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-info-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info-top h1 {
  font-size: 24px;
}

.product-info-top p {
  font-size: 18px;
  color: #8c8c8c;
}

.product-image {
  width: 384px;
  height: 214px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgb(31, 31, 31);
}

.product-info-bottom {
  display: flex;
  gap: 29px;
  align-items: center;
}

.product-info-bottom button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #1890ff;
  padding: 11px 16px;
  font-size: 16px;
}

.product-info-bottom p {
  font-size: 20px;
}
